body{
    font-family: Arial, Helvetica, sans-serif;
}

.center {
    text-align: center
}


input, textarea, select {
    /* width: 100%; */
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 1em;
}

.columnInputContainer{
    margin-bottom: 10px;
    margin-left: 10%;
    margin-right: 10%;
    background-color: aliceblue;
    padding:20px;
    border-radius: 8px;
}

.title{
    font-size: 1.5em;
}

.notDisplay {
    display: none
}


input{
    margin: 10px
}

button {
    background-color: #008CBA ; 
    border: none;
    color: white;
    padding: 5px 7px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 0.7em;
    border-radius: 8px;
}

button:hover {
    background-color: #0033cc ; 
    cursor: pointer;
}

#generateButton{
    font-size: 1.2em;
}